/*Color palette*/
$color1: #dcdcddff; /*lighter grey*/
$color2: #c5c3c6ff; /*light grety*/
$color3: #46494cff; /*dark grey*/
$color4: #4c5c68ff; /*darkish blue-green*/
$color5: #1985a1ff; /*blue-green*/

@media screen and (min-width: 1030px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  .desktop-only{
    display: none;
  }
}





/*This is the navigation section*/

.menu-font a{
  color: $color4;
  font-size: 18px;
  font-weight: bold;
}

.menu-font :hover {
  color: $color5;

}

#desktop-nav {
  height: 60px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 30px;
  left: 30px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  transition: color 0.3s ease;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Just a quick hamburger*/
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: $color3;
  border-radius: 3px;

  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark. */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $color3;
}

/* But let's hide the middle one.*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* Ohyeah and the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned  at the top left of the screen */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: $color1;
  opacity: 0.5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/* space between link items */
#menu li {
  padding: 10px 0;
  opacity: 1;
}

/* And let's slide it in from the left */
#menuToggle input:checked ~ ul {
  transform: none;
}




/*End of the navigation section*/




.home {
  background-image: url("C:/git/project0/static/images/desert.JPG");
  height: 600px;

    /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*home title for the desktop version*/
@media screen and (min-width: 970px) {
  #hometitle  {
      text-align: right;
      margin-right: 80px;
      vertical-align: middle;
      color: $color3;


      h1 {
        margin-top: 80px;
        font-size: 50px;
      }
      h3 {
        font-size: 50px;
      }
  }
}

/*home title for the mobile version*/
@media screen and (max-width: 968px) {
  #hometitle {
      top: 50%;
      right:50%;
      text-align: Center;
      color: $color1;
  }
}

.topspacing {
    margin-top: 40px;
}
.leadp {
  text-align: center;
}

footer {
  background-color: $color3;
  height: 150px;
  left: 0;
  bottom: 0;
  width: 100%;
}
