/*Color palette*/
$color1: #dcdcddff; /*lighter grey*/
$color2: #c5c3c6ff; /*light grety*/
$color3: #46494cff; /*dark grey*/
$color4: #4c5c68ff; /*darkish blue-green*/
$color5: #1985a1ff; /*blue-green*/

@media screen and (min-width: 1030px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  .desktop-only{
    display: none;
  }
}

nav {
  background-color: $color3;

}

.main {
  background-image: url("C:/git/project0/static/images/desert.JPG");
  height: 600px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
