/*Color palette*/
/*lighter grey*/
/*light grety*/
/*dark grey*/
/*darkish blue-green*/
/*blue-green*/
@media screen and (min-width: 1030px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  .desktop-only {
    display: none;
  }
}

nav {
  background-color: #46494cff;
}

.main {
  background-image: url("C:/git/project0/static/images/desert.JPG");
  height: 600px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
