@charset "UTF-8";
/*Color palette*/
/*white*/
/*blu*/
/*dark */
body {
  font-family: "Gill Sans", sans-serif;
  color: #3A4144;
}

h1, h2, h3, h4, h5, h6 {
  color: #A7614B;
}

p {
  font-size: 14px;
}

a {
  color: #A7614B !important;
}

.container h3 {
  color: #A7614B;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (min-width: 1030px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  .desktop-only {
    display: none;
  }
}

.nav {
  background-color: none;
}

.main {
  background-image: url("https://franciserra.github.io/Project0/static/images/desert.JPG");
  height: 650px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*STYLING CLASSES*/
.small-width .desktop-only {
  width: 70%;
}

.centerd {
  align-content: center;
  justify-content: center;
  display: flex !important;
}

#title {
  text-align: center;
  margin-top: 260px;
  color: white;
}

#explore {
  margin-top: 20px;
}

#about-me {
  margin-bottom: 60px;
}

.basic-grid h3 {
  margin-bottom: 20px;
  margin-top: 30px;
}

.card button {
  color: #A7614B;
}

.card button:hover {
  color: #3A4144;
}

footer {
  height: 40px;
  bottom: 0;
  width: 100%;
  background-color: #3A4144;
  padding-top: 5px;
  display: flex;
  position: fixed;
}

/*SOCİAL İCONS*/
/* footer social icons */
ul.social-network {
  list-style: none;
  margin: auto auto;
  width: 100%;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

/* footer social icons */
.social-circle li a {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
}

.social-circle li i {
  line-height: 20px;
  text-align: center;
}

.social-circle i {
  color: #3A4144;
}

.social-network a {
  background-color: #A7614B;
}
