/*Color palette*/
/*lighter grey*/
/*light grety*/
/*dark grey*/
/*darkish blue-green*/
/*blue-green*/
@media screen and (min-width: 1030px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  .desktop-only {
    display: none;
  }
}

nav {
  background-color: #dcdcddff;
}
